<div class="card card-flush h-xl-100" data-select2-id="select2-data-223-k9y4">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h4>Users List</h4>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
        <app-form *ngIf="userType === 'admin'" [mode]="'add'"></app-form>
      </div>
    </div>
  </div>
  <div class="card-body pt-2">
    <div id="kt_table_widget_4_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive">
        <table
          class="table align-middle table-row-dashed fs-6 gy-3 dataTable no-footer"
          id="kt_table_widget_4_table"
        >
          <thead>
            <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
              <th class="min-w-50px sorting_disabled" rowspan="1" colspan="1" style="width: 50px">
                email
              </th>
              <th
                class="text-end min-w-150px sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 100px"
              >
                name
              </th>
              <th
                class="text-end min-w-150px sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 100px"
              >
                User Type
              </th>
              <th
                class="text-end min-w-100px sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 100px"
              >
                Status
              </th>
              <th
                class="text-start sorting_disabled"
                rowspan="1"
                colspan="1"
                style="width: 25px"
              ></th>
            </tr>
          </thead>
          <tbody class="fw-bold text-gray-600">
            <ng-container *ngFor="let user of users | async">
              <tr>
                <td>
                  <a class="text-gray-800 ">{{ user.email }}</a>
                </td>
                <td class="text-end">{{ user.name }}</td>
                <td class="text-end">
                  <span class="badge py-3 px-4 fs-7 badge-light-dark">{{ user.userType }}</span>
                </td>
                <td class="text-end">
                  <span
                    class="badge py-3 px-4 fs-7"
                    [ngClass]="{
                      'badge-light-success': user.isActive === true,
                      'badge-light-danger': user.isActive === false
                    }"
                    >{{ user.isActive ? 'Active' : 'Not Active' }}</span
                  >
                </td>

                <td class="text-center">
                  <div class="d-flex justify-content-center flex-shrink-0">
                    <!--View-->
                    <!-- <a
                      routerLink="../view"
                      class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-primary btn-sm me-3"
                    >
                      <i class="ki-duotone bi bi-eye fs-3"
                      ></i>
                    </a> -->
                    <!-- Edit -->
                    <div>
                      <app-form [mode]="'edit'" [user]="user"></app-form>
                    </div>

                    <!-- Delete -->
                    <a
                      (click)="deleteUser(user.id)"
                      class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-primary btn-sm"
                    >
                      <i class="far fa-trash-alt icon-xl"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div
          class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"
        ></div>
        <div
          class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"
        ></div>
      </div>
    </div>
  </div>
</div>
