<!-- profile info -->
<div class="card mb-5 p-3 m-0">
    <div class="row d-flex align-items-center p-3 toggle mb-0">
      <h4 class="col-11 fs-1 text-gray-700 fw-bold cursor-pointer mb-0">Profile Details</h4>
    </div>
  
    <div id="kt_job_4_1" class="fs-6 ms-1 p-4 px-10">
      <form  class="form mb-15 fv-plugins-bootstrap5 fv-plugins-framework">
        <div class="row mb-5">
          <div class="form-group form-group-lg titled col-12 col-md-6 col-xl-6 my-xl-4">
            <label class="fs-5 fw-semibold mb-2 fs-2">First Name</label>
            <input
              formControlName="firstName"
              type="text"
              name="first_name"
              class="form-control form-control-lg border-primary ps-15 fs-1"
              placeholder="First Name"
              
            />
  
         
          </div>
  
          <div class="form-group form-group-lg titled col-12 col-md-6 col-xl-6 my-xl-4">
            <label class="fs-5 fw-semibold mb-2 fs-2">Last Name</label>
            <input
              formControlName="lastName"
              type="text"
              name="last_name"
              class="form-control form-control-lg border-primary ps-15 fs-1"
              placeholder="Last Name"
              
            />
            <div class="fv-plugins-message-container invalid-feedback"></div>
            
          </div>
        </div>
        <div class="row mb-5">
          <div
            class="form-group form-group-lg col-12 col-md-6 col-xl-6 my-xl-4 pt-11 d-flex justify-content-center order-last order-lg-first"
          >
            <button
              type="submit"
              class="btn btn-primary border-primary form-control py-3 w-50 h-60px"
            
            >
              <span class="indicator-label fs-2">Update</span>
              <span class="indicator-progress"
                >Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span
              ></span>
            </button>
          </div>
          <div class="form-group form-group-lg titled col-12 col-md-6 col-xl-6 my-xl-4">
            <label class="fs-5 fw-semibold mb-2 fs-2">Location</label>
            <input
              formControlName="location"
              type="text"
              name="location"
              class="form-control form-control-lg border-primary ps-15 fs-1"
              placeholder="location"
             
            />
           
          </div>
        </div>
      </form>
    </div>
 
