<div class="row">
  <div class="col-12 col-lg-6 pe-0 ps-0" style="background: #fff; height: 100vh">
  <router-outlet></router-outlet>
  </div>

  <div class="d-none d-lg-block col-lg-6 pe-0 ps-0" style="background: #131b2f">
    <div
      class="position-relative w-100 d-flex flex-column justify-content-center align-items-center"
      style="height: 100vh"
    >
      <img
        class="position-absolute top-50 start-50 translate-middle"
        src="../assets/media/login/background.png"
        alt=""
      />
      <img
        class="position-absolute top-50 start-50 translate-middle"
        src="../assets/media/login/background1.png"
        alt=""
      />
      <img
        class="position-absolute top-0 end-0 m-10"
        src="../assets/media/logos/indana-logo.png"
        alt=""
      />
      <img class="mt-20 me-10" src="./assets/media/login/Illustration.png" alt="" />
      <h2 class="text-gray-300">لوحة تحكم منصة عندنا</h2>
      <p class="text-gray-700">كل ماتحتاجه في لوحة التحكم ستجده</p>
    </div>
  </div>
</div>
