<!-- 3 card at the first -->
<div class="container-fluid row">
  <!-- First Card -->
  <div class="col-md-4">
    <!--begin::Card widget 16-->
    <div
      class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 mb-5 mb-xl-10"
    >
      <!--begin::Header-->
      <div class="card-header pt-5">
        <!--begin::Title-->
        <div class="card-title d-flex flex-column">
          <!--begin::Amount-->
          <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">13</span>
          <!--end::Amount-->

          <!--begin::Subtitle-->
          <span class="text-white opacity-50 pt-1 fw-semibold fs-6">My Total Courses</span>
          <!--end::Subtitle-->
        </div>
        <!--end::Title-->
      </div>
      <!--end::Header-->

      <!--begin::Card body-->
      <div class="card-body d-flex align-items-end pt-0">
        <!--begin::Progress-->
        <div class="d-flex align-items-center flex-column mt-3 w-100">
          <div
            class="d-flex justify-content-between fw-bold fs-6 text-white opacity-50 w-100 mt-auto mb-2"
          >
            <span>12 complete</span>
            <span>90%</span>
          </div>

          <div class="h-8px mx-3 w-100 bg-light-dark rounded">
            <div
              class="bg-primary rounded h-8px"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <!--end::Progress-->
      </div>
      <!--end::Card body-->
    </div>
  </div>

  <!-- Second Card -->
  <div class="col-md-4">
    <!--begin::Card widget 16-->
    <div
      class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 mb-5 mb-xl-10"
    >
      <!--begin::Header-->
      <div class="card-header pt-5">
        <!--begin::Title-->
        <div class="card-title d-flex flex-column">
          <!--begin::Amount-->
          <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">5</span>
          <!--end::Amount-->

          <!--begin::Subtitle-->
          <span class="text-white opacity-50 pt-1 fw-semibold fs-6">My Total community</span>
          <!--end::Subtitle-->
        </div>
        <!--end::Title-->
      </div>
      <!--end::Header-->

      <!--begin::Card body-->
      <div class="card-body d-flex align-items-end pt-0">
        <!--begin::Progress-->
        <div class="d-flex align-items-center flex-column mt-3 w-100">
          <div
            class="d-flex justify-content-between fw-bold fs-6 text-white opacity-50 w-100 mt-auto mb-2"
          >
            <span>43 Pending</span>
            <span>72%</span>
          </div>

          <div class="h-8px mx-3 w-100 bg-light-danger rounded">
            <div
              class="bg-danger rounded h-8px"
              role="progressbar"
              style="width: 72%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <!--end::Progress-->
      </div>
      <!--end::Card body-->
    </div>
  </div>

  <!-- Third Card -->
  <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
    <!--begin::Card widget 16-->
    <div
      class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 mb-5 mb-xl-10"
    >
      <!--begin::Header-->
      <div class="card-header pt-5">
        <!--begin::Title-->
        <div class="card-title d-flex flex-column">
          <!--begin::Amount-->
          <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">75</span>
          <!--end::Amount-->

          <!--begin::Subtitle-->
          <span class="text-white opacity-50 pt-1 fw-semibold fs-6">New Courses in the library</span>
          <!--end::Subtitle-->
        </div>
        <!--end::Title-->
      </div>
      <!--end::Header-->

      <!--begin::Card body-->
      <div class="card-body d-flex align-items-end pt-0">
        <!--begin::Progress-->
        <div class="d-flex align-items-center flex-column mt-3 w-100">
          <div
            class="d-flex justify-content-between fw-bold fs-6 text-white opacity-50 w-100 mt-auto mb-2"
          >
            <span>5 Rejected</span>
            <span>95%</span>
          </div>

          <div class="h-8px mx-3 w-100 bg-light-dark rounded">
            <div
              class="bg-success rounded h-8px"
              role="progressbar"
              style="width: 95%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <!--end::Progress-->
      </div>
      <!--end::Card body-->
    </div>
  </div>
</div>



<!-- courses Table -->
<div class="container-fluid row">
  <div class="card card-flush col-md-12 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bold fs-3 mb-1">My Courses</span>

        <span class="text-muted fw-semibold fs-7">Total 10 Courses</span>
      </h3>
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body py-3">
      <!--begin::Table container-->
      <div class="table-responsive">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed table-row-gray-200 gs-0 gy-5">
          <!--begin::Table head-->
          <thead>
            <tr>
              <th class="p-0 w-50px"></th>
              <th class="p-0 min-w-200px"></th>
              <th class="p-0 min-w-100px"></th>
              <th class="p-0 min-w-100px"></th>
              <th class="p-0 min-w-40px"></th>
            </tr>
          </thead>
          <!--end::Table head-->

          <!--begin::Table body-->
          <tbody>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <div class="symbol symbol-40px me-4">
                    <div class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger">M</div>
                  </div>
                </div>
              </th>

              <td>
                <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6"
                  >Course Name here</a
                >
                <span class="text-muted fw-semibold d-block fs-7">Instructor Name here</span>
              </td>
              <td>
                <span class="text-gray-900 fw-bold mb-1 fs-6">Joind Date Here</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold"> 70% Complete </span>
                  </div>

                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 70%"
                      aria-valuenow="70"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>

              <td class="text-end">
                <a routerLink="/courses/view" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <i class="ki-duotone ki-arrow-right fs-2"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <div class="symbol symbol-40px me-4">
                    <div class="symbol-label fs-2 fw-semibold bg-info text-inverse-info">P</div>
                  </div>
                </div>
              </th>

              <td>
                <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6"
                  >Popular Authors</a
                >
                <span class="text-muted fw-semibold d-block fs-7">Most Successful</span>
              </td>
              <td>
                <span class="text-gray-900 fw-bold mb-1 fs-6">Joind Date Here</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold"> 50% Complete </span>
                  </div>

                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>

              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <i class="ki-duotone ki-arrow-right fs-2"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <div class="symbol symbol-40px me-4">
                    <div class="symbol-label fs-2 fw-semibold bg-primary text-inverse-primary">
                      N
                    </div>
                  </div>
                </div>
              </th>

              <td>
                <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">New Users</a>
                <span class="text-muted fw-semibold d-block fs-7">Awesome Users</span>
              </td>
              <td>
                <span class="text-gray-900 fw-bold mb-1 fs-6">Joind Date Here</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold"> 80% Complete </span>
                  </div>

                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 80%"
                      aria-valuenow="80"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>

              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <i class="ki-duotone ki-arrow-right fs-2"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <div class="symbol symbol-40px me-4">
                    <div class="symbol-label fs-2 fw-semibold bg-success text-inverse-success">
                      A
                    </div>
                  </div>
                </div>
              </th>

              <td>
                <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6"
                  >Active Customers</a
                >
                <span class="text-muted fw-semibold d-block fs-7">Best Customers</span>
              </td>
              <td>
                <span class="text-gray-900 fw-bold mb-1 fs-6">Joind Date Here</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold"> 90% Complete </span>
                  </div>

                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="90"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>

              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <i class="ki-duotone ki-arrow-right fs-2"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>
                </a>
              </td>
            </tr>
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <div class="symbol symbol-40px me-4">
                    <div class="symbol-label fs-2 fw-semibold bg-light text-inverse-light">B</div>
                  </div>
                </div>
              </th>

              <td>
                <a href="#" class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6"
                  >Bestseller Theme</a
                >
                <span class="text-muted fw-semibold d-block fs-7">Amazing Templates</span>
              </td>
              <td>
                <span class="text-gray-900 fw-bold mb-1 fs-6">Joind Date Here</span>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span class="text-muted me-2 fs-7 fw-bold"> 70% Complete </span>
                  </div>

                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 70%"
                      aria-valuenow="70"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>

              <td class="text-end">
                <a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
                  <i class="ki-duotone ki-arrow-right fs-2"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>
                </a>
              </td>
            </tr>
          </tbody>
          <!--end::Table body-->
        </table>
        <!--end::Table-->
      </div>
      <!--end::Table container-->
    </div>
    <!--end::Body-->
  </div>
</div>
