<!-- 3 card at the first -->
<div class="container-fluid">
  <div class="row">
    <!-- First Card -->
    <div class="col-md-6">
      <div
        class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 mb-5 mb-xl-10"
      >
        <div class="card-header pt-5">
          <div class="card-title d-flex flex-column">
            <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">13</span>
            <span class="text-white opacity-50 pt-1 fw-semibold mb-5 fs-6">My Total Courses</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Card -->
    <div class="col-md-6">
      <div
        class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 mb-5 mb-xl-10"
      >
        <div class="card-header pt-5">
          <div class="card-title d-flex flex-column">
            <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">5</span>
            <span class="text-white opacity-50 pt-1 mb-5 fw-semibold fs-6">My Total community</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- courses Table -->
<div class="container-fluid">
  <div class="card card-flush" data-select2-id="select2-data-223-k9y4">
    <div class="card-header pt-7 d-flex justify-content-between align-items-center">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bold text-gray-800">My Courses</span>
      </h3>
    </div>

    <div class="card-body pt-2">
      <div id="kt_table_widget_4_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="table-responsive">
          <table
            class="table align-middle table-row-dashed fs-6 gy-3 dataTable no-footer"
            id="kt_table_widget_4_table"
          >
            <thead>
              <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                <th
                  class="min-w-50px sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  style="width: 50px"
                ></th>
                <th
                  class="text-start min-w-50px sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  style="width: 50px"
                >
                  Instructor
                </th>
                <th
                  class="text-center min-w-50px sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  style="width: 50px"
                >
                  Title
                </th>
                <th
                  class="text-center min-w-100px sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  style="width: 150px"
                >
                  Subject
                </th>
                <th
                  class="text-center min-w-50px sorting_disabled"
                  rowspan="1"
                  colspan="1"
                  style="width: 50px"
                >
                  Lectures Count
                </th>
              </tr>
            </thead>
            <tbody class="fw-bold text-gray-600">
              <tr>
                <td>
                  <div class="symbol symbol-50px me-2">
                    <div class="symbol symbol-40px me-4">
                      <div class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger">
                        Y
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-start">Yaman Samiroglu</td>
                <td class="text-center">
                  <span class="text-gray-800 fw-bolder">introduction to DevOps</span>
                </td>
                <td class="text-center">
                  <span class="badge py-3 px-4 fs-7 badge-light-dark">Programming</span>
                </td>
                <td class="text-center">
                  <span class="badge py-3 px-4 fs-7 badge-light-warning">30 lectures</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <div class="container m-3">
          <ul class="pagination">
            <li class="page-item previous disabled">
              <a href="#" class="page-link"><i class="previous"></i></a>
            </li>
            <li class="page-item text-dark"><a href="#" class="page-link">1</a></li>
            <li class="page-item active"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">...</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">6</a></li>
            <li class="page-item next">
              <a href="#" class="page-link"><i class="next"></i></a>
            </li>
          </ul>
        </div> -->
    <!--end::Card body-->
  </div>
</div>
