<div class="w-75 h-100 w-xl-50 mx-auto position-relative d-flex flex-column justify-content-center">
  <!--begin::Alert-->

  <div
    *ngIf="(successMessage$ | async) !== null; else errorAlert"
    class="notice d-flex bg-light-success rounded border-success border border-dashed p-6 mb-4"
  >
    <!--begin::Icon for Success Alert-->
    <i class="ki-duotone ki-information fs-2tx text-success me-4"
      ><span class="path1"></span><span class="path2"></span><span class="path3"></span
    ></i>
    <!--end::Icon-->

    <!--begin::Wrapper for Success Alert-->
    <div class="d-flex flex-stack flex-grow-1">
      <div class="fw-semibold">
        <h4 class="text-gray-900 fw-bold">Success</h4>
        <div class="fs-6 text-gray-700">
          {{ successMessage$ | async }}
        </div>
      </div>
    </div>
    <!--end::Wrapper-->
  </div>

  <ng-template #errorAlert>
    <div
      *ngIf="(errorMessage$ | async) !== null"
      class="notice d-flex bg-light-danger rounded border-danger border border-dashed p-6 mb-4"
    >
      <!--begin::Icon for Error Alert-->
      <i class="ki-duotone ki-information fs-2tx text-danger me-4"
        ><span class="path1"></span><span class="path2"></span><span class="path3"></span
      ></i>
      <!--end::Icon-->

      <!--begin::Wrapper for Error Alert-->
      <div class="d-flex flex-stack flex-grow-1">
        <div class="fw-semibold">
          <h4 class="text-gray-900 fw-bold">Error</h4>
          <div class="fs-6 text-gray-700">
            {{ errorMessage$ | async }}
          </div>
        </div>
      </div>
      <!--end::Wrapper-->
    </div>
  </ng-template>

  <!--end::Alert-->
  <form [formGroup]="forgotPasswordForm">
    <div class="main-title">
      <h2 class="mt-20 mb-5 fs-1">Reset your password</h2>
      <p class="text-gray-500">
        Enter your Email that connected to your account.
      </p>
    </div>

    <div class="form-group form-group-lg position-relative my-5">
      <i
        class="fa-regular fa-envelope fa-lg position-absolute top-50 start-0 ms-3 translate-middle-y"
      ></i>
      <input
        type="email"
        formControlName="email"
        class="form-control form-control-lg ps-11"
        [ngClass]="{
          'is-valid': forgotPasswordForm.controls.email.valid,
          'is-invalid':
            forgotPasswordForm.controls.email.invalid &&
            (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched)
        }"
        placeholder="Email"
      />
    </div>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: ' Email required',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Email must be valid',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>

    <div class="form-group form-group-lg position-relative my-10">
      <button
        class="btn btn-primary bg-primary second-color w-100"
        [disabled]="!validateForm()"
        (click)="submit()"
      >
       Send
        <span
          *ngIf="isLoading | async"
          class="spinner-border spinner-border-sm align-middle ms-2"
        ></span>
      </button>
    </div>
  </form>
  <a routerLink="registration" class="btn-primary fw-bold"> Back to Login page</a>
</div>

<ng-template #formError let-validation="validation" let-message="message" let-control="control">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="form_alert">
      <p style="color: #ed4f9d">{{ message }}</p>
    </div>
  </ng-container>
</ng-template>
