<h1 class="mb-5 mx-5">User Details</h1>
<div class="container-fluid mb-5">
  <div class="card col-md-12">
    <div class="row">
      <div class="col-md-3 mt-7 mx-7">
        <div class="symbol symbol-100px symbol-squre mb-5 d-block">
          <div class="symbol-label fs-1 bg-light-primary text-primary">M</div>
        </div>
        <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-5 d-block"> MoGhazal</a>
        <div class="mb-5">
          <!--begin::Badge-->
          <div class="badge badge-lg badge-light-primary d-inline p-2 text-start">
            Administrator
          </div>
          <!--begin::Badge-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="fw-bold mt-7">Account ID</div>
        <div class="text-gray-600">ID-45453423</div>
        <div class="fw-bold mt-3">Email Adress</div>
        <div class="text-gray-600">Mogazal@gmail.com</div>
        <div class="fw-bold mt-3">Phone Number</div>
        <div class="text-gray-600">00905541989475</div>
        <div class="fw-bold mt-3">Age</div>
        <div class="text-gray-600 mb-3">25 Years</div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-sm float-end mt-7 fw-bold fs-5">Edit</button>
        <div class="fw-bold mt-7">Date of birth</div>
        <div class="text-gray-600">19-01-2000</div>
        <div class="fw-bold mt-3">Country</div>
        <div class="text-gray-600">Turkey</div>
        <div class="fw-bold mt-3">Adress</div>
        <div class="text-gray-600">Uskudar-Carsi</div>
        <div class="fw-bold mt-3">Language</div>
        <div class="text-gray-600 mb-3">English</div>
      </div>
    </div>
  </div>
</div>

<h1 class="mx-5 mt-7">Courses And Communites</h1>
<div class="container-fluid row mt-5">
  <!-- First List -->
  <div class="col-xl-6 mb-md-5 mb-xl-10">
    <div class="card h-xl-100">
      <!--begin::Header-->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bold fs-1 text-gray-900">Courses</span>
        </h3>

        <!--begin::Toolbar-->

        <!--end::Toolbar-->
      </div>
      <!--end::Header-->

      <!--begin::Body-->
      <div class="card-body pt-6">
        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger">M</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >UI/UX Design</a
              >
              <br />
              <span class="text-muted mt-1 fw-semibold fs-7">Instructor name</span>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-success text-inverse-success">Q</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >QA Analysis</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-info text-inverse-info">W</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Web Development</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-inverse-primary">M</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Marketing</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-warning text-inverse-warning">P</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Philosophy</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-dark text-inverse-dark">M</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Mathematics</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->
      </div>
      <!--end::Body-->
    </div>
  </div>

  <!-- Second List -->
  <div class="col-xl-6 mb-md-5 mb-xl-10">
    <div class="card h-xl-100">
      <!--begin::Header-->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bold fs-1 text-gray-900">Communities</span>
        </h3>

        <!--begin::Toolbar-->

        <!--end::Toolbar-->
      </div>
      <!--end::Header-->

      <!--begin::Body-->
      <div class="card-body pt-6">
        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-danger text-inverse-danger">M</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >UI/UX Design</a
              >
              <br />
              <span class="text-muted mt-1 fw-semibold fs-7">Instructor name</span>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-success text-inverse-success">Q</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >QA Analysis</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-info text-inverse-info">W</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Web Development</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-primary text-inverse-primary">M</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Marketing</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-warning text-inverse-warning">P</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Philosophy</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->

        <!--begin::Separator-->
        <div class="separator separator-dashed my-4"></div>
        <!--end::Separator-->

        <!--begin::Item-->
        <div class="d-flex flex-stack">
          <!--begin::Symbol-->
          <div class="symbol symbol-40px me-4">
            <div class="symbol-label fs-2 fw-semibold bg-dark text-inverse-dark">M</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Section-->
          <div class="d-flex align-items-center flex-row-fluid flex-wrap">
            <!--begin:Author-->
            <div class="flex-grow-1 me-2">
              <a
                href="/metronic8/demo1/pages/user-profile/overview.html"
                class="text-gray-800 text-hover-primary fs-6 fw-bold"
                >Mathematics</a
              >

              <div class="rating">
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label checked">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
                <div class="rating-label">
                  <i class="ki-duotone ki-star fs-6"></i>
                </div>
              </div>
            </div>
            <!--end:Author-->

            <!--begin::Actions-->
            <a
              href="#"
              class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary w-30px h-30px"
            >
              <i class="ki-duotone ki-arrow-right fs-2"
                ><span class="path1"></span><span class="path2"></span
              ></i>
            </a>
            <!--begin::Actions-->
          </div>
          <!--end::Section-->
        </div>
        <!--end::Item-->
      </div>
      <!--end::Body-->
    </div>
  </div>
</div>

<h1 class="m-5">Latest Post</h1>
<div class="card mb-5 mb-xxl-8">
  <!--begin::Body-->
  <div class="card-body pb-0">
    <!--begin::Header-->
    <div class="d-flex align-items-center mb-5">
      <!--begin::User-->
      <div class="d-flex align-items-center flex-grow-1">
        <!--begin::Avatar-->
        <div class="symbol symbol-45px me-5">
          <div class="symbol-label fs-1 bg-light-primary text-primary">M</div>
        </div>
        <!--end::Avatar-->

        <!--begin::Info-->
        <div class="d-flex flex-column">
          <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Nick Logan</a>
        </div>
        <!--end::Info-->
      </div>
      <!--end::User-->
    </div>
    <!--end::Header-->
    <!--begin::Post-->
    <div class="mb-5">
      <!--begin::Text-->
      <p class="text-gray-800 fw-normal mb-5">
        Outlines keep you honest. They stop you from indulging in poorly thought-out metaphors about
        driving and keep you focused on the overall structure of your post
      </p>
      <!--end::Text-->

      <!--begin::Toolbar-->
      <div class="d-flex align-items-center mb-5">
        <a
          href="#"
          class="btn btn-sm btn-light btn-color-muted btn-active-light-success px-4 py-2 me-4"
        >
          <i class="ki-duotone ki-message-text-2 fs-2"
            ><span class="path1"></span><span class="path2"></span><span class="path3"></span
          ></i>
          120
        </a>
        <a href="#" class="btn btn-sm btn-light btn-color-muted btn-active-light-danger px-4 py-2">
          <i class="ki-duotone ki-heart fs-2"
            ><span class="path1"></span><span class="path2"></span
          ></i>
          15
        </a>
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Post-->
  </div>
</div>
