<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add New User</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form
      id="kt_account_profile_details_form"
      class="form fv-plugins-bootstrap5 fv-plugins-framework"
      novalidate="novalidate"
      [formGroup]="userManagementFormGroup"
    >
      <!--begin::Card body-->
      <div class="card-body border-top p-9">


        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label required fw-semibold fs-6">Full Name</label>
          <!--end::Label-->

          <!--begin::Col-->
          <div class="col-lg-8">
            <!--begin::Row-->
            <div class="row">
              <!--begin::Col-->
              <div class="col-lg-6 fv-row fv-plugins-icon-container">
                <input
                  type="text"
                 formControlName="firstName"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="First name"
                />
                <div
                  class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                ></div>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="col-lg-6 fv-row fv-plugins-icon-container">
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Last name"
                />
                <div
                  class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                ></div>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
    <!--begin::Input group-->
    <div class="row mb-6">
      <!--begin::Label-->
      <label class="col-lg-4 col-form-label fw-semibold fs-6">
        <span class="required">email</span>

        <span
          class="ms-1"
         
        >
          <i class="ki-duotone ki-information-5 text-gray-500 fs-6"
            ><span class="path1"></span><span class="path2"></span
            ><span class="path3"></span></i
        ></span>
      </label>
      <!--end::Label-->

      <!--begin::Col-->
      <div class="col-lg-8 fv-row fv-plugins-icon-container">
        <input
          type="email"
          formControlName="email"
          class="form-control form-control-lg form-control-solid"
          placeholder="Enter your email"
        />
        <div
          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
        ></div>
      </div>
      <!--end::Col-->
    </div>
    <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            <span class="required">Contact Phone</span>

            <span
              class="ms-1"
              data-bs-toggle="tooltip"
              aria-label="Phone number must be active"
              data-bs-original-title="Phone number must be active"
              data-kt-initialized="1"
            >
              <i class="ki-duotone ki-information-5 text-gray-500 fs-6"
                ><span class="path1"></span><span class="path2"></span
                ><span class="path3"></span></i
            ></span>
          </label>
          <!--end::Label-->

          <!--begin::Col-->
          <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input
              type="tel"
              name="phone"
              class="form-control form-control-lg form-control-solid"
              placeholder="Phone number"
              value="044 3276 454 935"
            />
            <div
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
            ></div>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
    

        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label required fw-semibold fs-6">User Type</label>
          <!--end::Label-->

          <!--begin::Col-->
          <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <!--begin::Input-->
            <select
              class="form-select form-select-solid form-select-lg select2-hidden-accessible" formControlName="userType"

            >
              <option value="" data-select2-id="select2-data-14-s5rx">Select The User Type</option>
              <option data-kt-flag="flags/united-kingdom.svg" value="admin">Admin</option>
              <option data-kt-flag="flags/united-kingdom.svg" value="instructor">Instructor</option>
              <option data-kt-flag="flags/turkey.svg" value="student">Student</option>
            </select>
            <div
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
            ></div>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->


      </div>
      <!--end::Card body-->
      <input type="hidden" />
    </form>
    <!--end::Form-->
  </div>
  <!--end::Content-->
  <br />

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('close')">
      Close
    </button>
    <button type="button" class="btn btn-success" (click)="modal.close('save')">
      Confirm
    </button>
  </div>
</ng-template>

<ng-container *ngIf="mode === 'edit'">
  <a
  (click)="openLg(content)"
  class="btn btn-icon btn-color-muted btn-bg-light btn-active-color-primary btn-sm me-3"
>
<i class="far fa-edit icon-xl"></i>
</a>
</ng-container>

<ng-container *ngIf="mode === 'add'">
  <!--begin::Add user-->
  <button
    type="button"
    class="btn btn-sm fw-bold btn-primary"
    (click)="openLg(content)"
  >
    <i class="ki-duotone ki-plus fs-2"></i> Add User
  </button>
  <!--end::Add user-->
</ng-container>
