<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
          <img class=" rounded-circle" src="../../assets/media/avatars/300-1.jpg" alt="image" />
          <div
            class="position-absolute  bottom-0 end-0 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px">
          </div>
        </div>
        <div class="d-flex p-4 justify-content-center flex-column text-center">
          <span class="text-gray-800 fw-bold mb-1 fs-1">Mohamad ghazal</span>
        </div>
        <!--end::Pic-->
  
      </div>
      <!--end::Details-->
      <!--begin::Navs-->
      <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-1 fw-bold justify-content-center">
        <!--begin::Nav item-->
        <li class="nav-item mt-2">
          <a class="nav-link text-active-primary ms-0 mx-20 py-5" routerLink="/settings/profile-info" routerLinkActive="active">
             Profile Info
          </a>
        </li>
  
        <li class="nav-item mt-2">
          <a class="nav-link text-active-primary ms-0 me-10 py-5 " routerLink="/settings/account-settings"
          routerLinkActive="active">
          Account Settings 
          </a>
        </li>
        <!--end::Nav item-->
        <!--begin::Nav item-->
  
     
       
        <!-- end::Nav item-->
        <!--begin::Nav item-->
        <li class="nav-item mt-2">
          <a class="nav-link text-active-primary ms-0 me-10 py-5 " routerLink="/settings/social-accounts" routerLinkActive="active">
            Social Accounts
          </a>
        </li>
        <!--end::Nav item -->
      </ul>
      <!--begin::Navs-->
    </div>
  </div>
  <!-- <div class="col-12 pe-md-10 mb-10 mb-md-0">
  
      <div class="card mb-5 p-3 m-0"> -->
  <div><router-outlet></router-outlet></div>
  <!-- </div>
  </div> -->
  