<!-- Profile Details  -->
<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button">
    <div class="card-title m-0">
      <h3 class="fw-bold m-0">Profile Details</h3>
    </div>
  </div>
  <div>
    <form
      [formGroup]="userManagementFormGroup"
      class="form fv-plugins-bootstrap5 fv-plugins-framework"
    >
      <div class="card-body border-top p-9">
        <!--begin::Input group-->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-semibold fs-6">Full Name</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row fv-plugins-icon-container">
                <input
                  type="text"
                  formControlName="firstName"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="First name"
                />
                <div
                  class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                ></div>
              </div>
              <div class="col-lg-6 fv-row fv-plugins-icon-container">
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Last name"
                />
                <div
                  class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <!--begin::Input group-->
        <!-- <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            <span class="required">Contact Phone</span>
          </label>
          <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input
              type="tel"
              formControlName="phone"
              class="form-control form-control-lg form-control-solid"
              placeholder="Phone number"
            />
            <div
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
            ></div>
          </div>
        </div> -->
        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-semibold fs-6 required">Email</label>
          <div class="col-lg-8 fv-row">
            <input
              type="email"
              formControlName="email"
              class="form-control form-control-lg form-control-solid"
              placeholder="Email"
            />
          </div>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          (click)="updateAccount()"
          type="submit"
          class="btn btn-primary"
          id="kt_account_profile_details_submit"
        >
          Save Changes
        </button>
      </div>
      <input type="hidden" />
    </form>
  </div>
</div>

<!-- Password Section -->
<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bold m-0">Password Configration</h3>
    </div>
  </div>
  <div>
    <form
      id="kt_account_profile_details_form"
      class="form fv-plugins-bootstrap5 fv-plugins-framework"
      [formGroup]="passwordFormGroup"
    >
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            <span class="required">Current Password</span>
          </label>
          <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input
              type="password"
              formControlName="currentPassword"
              class="form-control form-control-lg form-control-solid"
              placeholder="Write Your Current Password"
            />
            <div
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
            ></div>
          </div>
        </div>
        <!--begin::Input group-->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6">
            <span class="required">New Password</span>
          </label>
          <div class="col-lg-8 fv-row fv-plugins-icon-container">
            <input
              type="password"
              formControlName="newPassword"
              class="form-control form-control-lg form-control-solid"
              placeholder="Write a New Password"
            />
            <div
              class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
            ></div>
          </div>
        </div>

        <!--begin::Input group-->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-semibold fs-6 required"
            >New Password Confirmation</label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="password"
              formControlName="passwordConfirmation"
              class="form-control form-control-lg form-control-solid"
              placeholder="Write Password Confirmation"
            />
          </div>
        </div>
      </div>

      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          (click)="updatePassword()"
          type="submit"
          class="btn btn-primary"
          id="kt_account_profile_details_submit"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
