<!-- <app-student-community *ngIf="userType === 'student'"></app-student-community>
<app-admin-community *ngIf="userType === 'admin'"></app-admin-community>
<app-instructor-community *ngIf="userType === 'instructor'"></app-instructor-community> -->
<div *ngIf="userType === 'admin' || userType === 'instructor'" class="container mb-5 d-flex align-items-center justify-content-between">
  <h2 class="mb-0">Community Management</h2>
  <button class="btn btn-sm btn-primary fw-bold" (click)="addCommunityPopup(content)">
    Create Community
  </button>
</div>

<div class="row g-5 g-xl-10">
  <!-- First card -->
  <div class="col-md-4 mb-5 mb-xl-10">
    <div class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100">
      <!--begin::Header-->
      <div class="card-header pt-5">
        <!--begin::Title-->
        <h4 class="card-title d-flex align-items-start flex-column">
          <span class="card-label fw-bold text-gray-800">Community name here</span>
          <span class="text-gray-500 mt-1 fw-bold fs-7">Programming </span>
        </h4>

        <div ngbDropdown  *ngIf="userType === 'student'"  class="card-toolbar" #myDropdown="ngbDropdown">
            <button
         
              class="btn btn-icon btn-color-gray-500 btn-active-color-danger justify-content-end"
              data-kt-menu-trigger="click"
              data-kt-menu-placement="bottom-end"
              data-kt-menu-overflow="true"
            >
            <i class="fa fa-user-minus icon-4x"></i>
            
            </button>
        </div>
        <div ngbDropdown  *ngIf="userType === 'admin' || userType === 'instructor'"  class="card-toolbar" #myDropdown="ngbDropdown">
          <button
       
            class="btn btn-icon btn-color-gray-500 btn-active-color-primary justify-content-end"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-overflow="true"
          >
            <i class="ki-duotone ki-dots-square fs-1"
              ><span class="path1"></span><span class="path2"></span><span class="path3"></span
              ><span class="path4"></span
            ></i>
          </button>
          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-100px"
            data-kt-menu="true"
            style=""
          >
            <div ngbDropdownItem class="menu-item px-2 py-2">
              <a class="menu-link px-3"> Edit </a>
            </div>

            <div ngbDropdownItem class="menu-item px-2 py-2">
              <a class="menu-link px-3"> Delete </a>
            </div>
          </div>
        </div>
      </div>
      <!--end::Header-->

      <!--begin::Body-->
      <div class="card-body py-6">
        <!--begin::Carousel-->

        <!--begin::Wrapper-->
        <div class="d-flex align-items-center mb-9">
          <!--begin::Symbol-->
          <div class="symbol symbol-70px symbol-circle me-5">
            <div class="symbol-label fs-1 fw-bold bg-light-primary text-primary">R</div>
          </div>
          <!--end::Symbol-->

          <!--begin::Info-->
          <div class="m-0">
            <!--begin::Subtitle-->
            <h4 class="text-gray-700 mb-3">Instructor name here</h4>
            <!--end::Subtitle-->

            <!--begin::Items-->
            <div class="d-flex d-grid gap-5">
              <!--begin::Item-->
              <div class="d-flex flex-column flex-shrink-0 me-4">
                <!--begin::Section-->
                <!-- <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                    <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                    Programming
                  </span> -->
                <!--end::Section-->

                <!--begin::Section-->
                <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                  <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>
                  146 messages
                </span>
                <!--end::Section-->
              </div>
              <!--end::Item-->

              <!--begin::Item-->
              <div class="d-flex flex-column flex-shrink-0">
                <!--begin::Section-->
                <!-- <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                    <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2"
                      ><span class="path1"></span><span class="path2"></span
                    ></i>
                    50 Min
                  </span> -->
                <!--end::Section-->

                <!--begin::Section-->
                <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                  <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2"
                    ><span class="path1"></span><span class="path2"></span
                  ></i>
                  72 students
                </span>
                <!--end::Section-->
              </div>
              <!--end::Item-->
            </div>
            <!--end::Items-->
          </div>
          <!--end::Info-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Action-->
        <div class="m-0 text-center">
          <!-- <button type="button" class="btn btn-sm btn-light me-2 mb-2">Details</button> -->

          <a class="btn btn-sm btn-success mb-2" routerLink="../view">View Community</a>
        </div>

        <!--end::Action-->
      </div>
      <!--end::Item-->
    </div>
  </div>

  <!--end::Carousel-->
</div>

<ng-template #content let-modal>
  <div class="modal-content rounded">
    <div class="modal-header pb-0 border-0 justify-content-end">
      <div
        class="btn btn-sm btn-icon btn-active-color-primary"
        (click)="modal.dismiss('Cross click')"
      >
        <i class="ki-duotone ki-cross fs-1"
          ><span class="path1"></span><span class="path2"></span
        ></i>
      </div>
    </div>
    <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
      <form>
        <div class="mb-13 text-center">
          <h1 class="mb-3">Create New Community</h1>
          <div class="text-muted fw-semibold fs-5">Initiate your Community</div>
        </div>


        <!--begin::Input group-->
        <div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
          <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
            <span class="required">Community Name</span>
          </label>
          <input
            type="text"
            class="form-control form-control-solid"
            placeholder="Enter Course Title"
            formControlName="title"
          />
          <div
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"
          ></div>
        </div>

        <!--begin::Input group-->
        <div class="row g-9 mb-8">
          <div class="col-md-12 fv-row fv-plugins-icon-container">
            <label class="required fs-6 fw-semibold mb-2">Communtiy Subject</label>

            <select
              class="form-select form-select-solid select2-hidden-accessible"
              formControlName="subject"
            >
              <option class="menu-item" data-select2-id="select2-data-15-vn7g">
                Select Subject...
              </option>
              <option class="menu-item" value="1">Math</option>
              <option class="menu-item" value="2">Physics</option>
              <option class="menu-item" value="3">Programming</option>
              >
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="modal.dismiss('Cross click')" class="btn btn-light me-3">Cancel</button>
          <button class="btn btn-primary" (click)="modal.close('save')">
            <span class="indicator-label"> Submit </span>
            <span class="indicator-progress">
              Please wait...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
