<div
  class="w-100 h-100 p-10 p-lg-5 w-xl-75 mx-auto creat-account d-flex justify-content-center align-items-center"
>
  <form [formGroup]="registrationForm">
    <div class="main-title text-center">
      <h2 class="mb-3 fs-1">Sign up for a new Account </h2>
    </div>
    <div class="pt-5 text-center text-gray-600">
     already  have an account ? 
      <a routerLink="../login" class="link-primary fw-bold"> Log in </a>
    </div>
    <p class="mt-0 text-center text-gray-600">Account type</p>
    <div
    *ngIf="(successMessage$ | async) !== null"
    class="notice d-flex bg-light-success rounded border-success border border-dashed p-6 mb-4"
  >
    <!--begin::Icon-->
    <i class="ki-duotone ki-information fs-2tx text-success me-4"
      ><span class="path1"></span><span class="path2"></span><span class="path3"></span
    ></i>
    <!--end::Icon-->

    <!--begin::Wrapper-->
    <div class="d-flex flex-stack flex-grow-1">
      <div class="fw-semibold">
        <h4 class="text-gray-900 fw-bold">Done successfully</h4>
        <div class="fs-6 text-gray-700">
          {{ successMessage$ | async }}
        </div>
      </div>
    </div>
    <!--end::Wrapper-->
  </div>

    <div class="row mb-3">
      <!-- instructor select type -->
      <div class="col-md-6">
        <!--begin::Option-->
        <input type="radio" class="btn-check" name="account_type" value="stuedent"  id="kt_create_account_form_account_type_personal">
        <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-7 d-flex align-items-center mb-10" for="kt_create_account_form_account_type_personal">
            <i class="ki-duotone ki-badge fs-3x me-5"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
            <!--begin::Info-->
            <span class="d-block fw-semibold text-start">                            
                <span class="text-gray-900 fw-bold d-block fs-4">
                    Student
                </span>
                <!-- <span class="text-muted fw-semibold fs-6">Keep learning and be better</span> -->
            </span>
            <!--end::Info-->
        </label>   
        <!--end::Option-->
    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div></div>





      <!-- <div class="col-6">
        <div
          class="form-check form-check-inline radio_restyle"
          [ngClass]="{
            active: this.selectedUserType === 'promoter'
          }"
        >
          <input
            class="form-check-input m-0"
            type="radio"
            name="userType"
            formControlName="userType"
            id="inlineRadio2"
            value="advertiser"
            (click)="selectUserType('promoter')"
          />
          <label class="form-check-label d-flex align-items-center" for="inlineRadio2">
            <div>
              <span class="fs-3 fw-bold">Instructor</span>
            </div>
          </label>
        </div>
      </div> -->





      <!-- student select type  -->
     <div class="col-md-6">
                <!--begin::Option-->
                <input type="radio" class="btn-check" name="account_type" value="Instructor" id="kt_create_account_form_account_type_corporate">
                <label class="btn btn-outline btn-outline-dashed btn-active-light-primary p-7 d-flex align-items-center" for="kt_create_account_form_account_type_corporate">
                    <i class="ki-duotone ki-briefcase fs-3x me-5"><span class="path1"></span><span class="path2"></span></i>
                    <!--begin::Info-->
                    <span class="d-block fw-semibold text-start">                              
                        <span class="text-gray-900 fw-bold d-block fs-4 ">Instructor</span>
                        <!-- <span class="text-muted fw-semibold fs-6">manage your courses and students</span> -->
                    </span>           
                    <!--end::Info-->               
                </label>           
                <!--end::Option-->   
            </div>
     
     
    
     
     
     
     
     
     
      <!-- <div class="col-6">
        <div
          class="form-check form-check-inline radio_restyle"
          [ngClass]="{
            active: this.selectedUserType === 'promoter'
          }"
        >
          <input
            class="form-check-input m-0"
            type="radio"
            name="userType"
            formControlName="userType"
            id="inlineRadio1"
            value="promoter"
            (click)="selectUserType('promoter')"
          />
          <label class="form-check-label d-flex align-items-center" for="inlineRadio1">
            <div>
              <span class="fs-3 fw-bold">Student</span>
            </div>
          </label>
        </div>
      </div> -->




    </div>
    <!-- promoter form -->
    <ng-container *ngIf="selectedUserType === 'promoter'">
      <div class="row">
        <div class="col 6">
          <div class="form-group form-group-lg position-relative">
            <i
              class="fa-regular fa-user fa-lg position-absolute top-50 start-0 ms-3 translate-middle-y"
            ></i>

            <input
              type="text"
              formControlName="firstName"
              class="form-control form-control-lg ps-11"
              [ngClass]="{
                'is-valid': registrationForm.controls.firstName.valid,
                'is-invalid':
                  registrationForm.controls.firstName.invalid &&
                  (registrationForm.controls.firstName.dirty ||
                    registrationForm.controls.firstName.touched)
              }"
              placeholder="First Name"
            />
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Must be  more than 3 characters !',
              control: registrationForm.controls['firstName']
            }"
          >
          </ng-container>
        </div>

        <div class="col 6">
          <div class="form-group form-group-lg position-relative">
            <i
              class="fa-regular fa-user fa-lg position-absolute top-50 start-0 ms-3 translate-middle-y"
            ></i>
            <input
              type="text"
              formControlName="lastName"
              class="form-control form-control-lg ps-11"
              [ngClass]="{
                'is-valid': registrationForm.controls.lastName.valid,
                'is-invalid':
                  registrationForm.controls.lastName.invalid &&
                  (registrationForm.controls.lastName.dirty ||
                    registrationForm.controls.lastName.touched)
              }"
              placeholder="Surname"
            />
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Must be  more than 3 characters !',
              control: registrationForm.controls['lastName']
            }"
          >
          </ng-container>
        </div>
      </div>

      <div class="form-group form-group-lg position-relative my-3">
        <i
          class="fa-regular fa-envelope fa-lg position-absolute top-50 start-0 ms-3 translate-middle-y"
        ></i>
        <input
          type="email"
          formControlName="email"
          class="form-control form-control-lg ps-11"
          [ngClass]="{
            'is-valid': registrationForm.controls.email.valid,
            'is-invalid':
              registrationForm.controls.email.invalid &&
              (registrationForm.controls.email.dirty || registrationForm.controls.email.touched)
          }"
          placeholder="Email"
        />
      </div>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Email required',
          control: registrationForm.controls['email']
        }"
      >
      </ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'email',
          message: 'Email must be valid !',
          control: registrationForm.controls['email']
        }"
      >
      </ng-container>

      <div class="form-group form-group-lg position-relative my-3">
        <i
          class="fa-solid fa-lock fa-lg position-absolute top-50 start-0 ms-3 translate-middle-y"
        ></i>
        <input
          type="password"
          formControlName="password"
          class="form-control form-control-lg ps-11"
          [ngClass]="{
            'is-valid': registrationForm.controls.password.valid,
            'is-invalid':
              registrationForm.controls.password.invalid &&
              (registrationForm.controls.password.dirty ||
                registrationForm.controls.password.touched)
          }"
          placeholder="Password"
        />
      </div>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message:'Password required',
          control: registrationForm.controls['password']
        }"
      >
      </ng-container>

      <div class="form-group form-group-lg position-relative my-3">
        <i
          class="fa-solid fa-unlock fa-lg position-absolute top-50 start-0 ms-3 translate-middle-y"
        ></i>
        <input
          type="password"
          formControlName="cPassword"
          class="form-control form-control-lg ps-11"
          placeholder="Password confimation"
          [ngClass]="{
            'is-valid': registrationForm.controls.cPassword.valid,
            'is-invalid':
              registrationForm.controls.cPassword.invalid &&
              (registrationForm.controls.cPassword.dirty ||
                registrationForm.controls.cPassword.touched)
          }"
        />
      </div>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Passworconfirmation required',
          control: registrationForm.controls['cPassword']
        }"
      >
      </ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'ConfirmPassword',
          message: 'Not matching! ',
          control: registrationForm.controls['cPassword']
        }"
      >
      </ng-container>

      <div class="form-check">
        <input   class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="isCheckBoxChecked" />
        <label class="form-check-label" for="flexCheckDefault">
          By creating this account i accept the privacy policy
        </label>
      </div>
      <div class="form-group form-group-lg position-relative my-10">
        <button
          class="btn btn-primary w-100"
          [disabled]="registrationForm.invalid"
          (click)="submit()"
        >
          Sign Up
        </button>
      </div>

    </ng-container>
    <!-- advertiser form -->
    <!-- <ng-container *ngIf="selectedUserType === 'advertiser'">
      <div class="container">
        <div class="row">
          <div class="col-6 px-5 my-3">
            <a
              href="#"
              class="store coming-up d-flex flex-column align-items-center justify-content-center"
            >
              <img src="./assets/media/stores/zidLogo.png" alt="logo4" />
              <strong class="fw-bolder fs-3 my-2 text-white">متجر زد </strong>
              <div class="soon">
                <strong>قريباً</strong>
              </div>
            </a>
          </div>
          <div class="col-6 px-5 my-3">
            <a href="#" class="store d-flex flex-column align-items-center justify-content-center">
              <img src="./assets/media/stores/sallaLogo.png" alt="logo2" />
              <strong class="fw-bolder fs-3 my-2 text-white">متجر سلة </strong>
              <div class="soon">
                <strong>قريباً</strong>
              </div>
            </a>
          </div>
          <div class="col-6 px-5 my-3">
            <a
              href="#"
              class="store coming-up d-flex flex-column align-items-center justify-content-center"
            >
              <img src="./assets/media/stores/glaryLogo.png" alt="logo1" />
              <strong class="fw-bolder fs-3 my-2 text-white">متجر قلاري </strong>
              <div class="soon">
                <strong>قريباً</strong>
              </div>
            </a>
          </div>
          <div class="col-6 px-5 my-3">
            <a
              href="#"
              class="store coming-up d-flex flex-column align-items-center justify-content-center"
            >
              <img src="./assets/media/stores/dashLogo.png" alt="logo3" />
              <strong class="fw-bolder fs-3 my-2 text-white">متجر داش </strong>
              <div class="soon">
                <strong>قريباً</strong>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ng-container> -->
  </form>
</div>

<ng-template #formError let-validation="validation" let-message="message" let-control="control">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="form_alert">
      <p style="color: #ed4f9d">{{ message }}</p>
    </div>
  </ng-container>
</ng-template>
