<div class="container mb-5 d-flex align-items-center justify-content-between sticky-top">
  <a class="btn btn-sm btn-light fw-bold" routerLink="../"> Back To Communities </a>
  <h3>Community Name here</h3>
  <button class="btn btn-sm btn-primary fw-bold" (click)="PostToCommunity(content)">
    Add New Post
  </button>
</div>
<!-- <div class="card card-bordered w-100">
  <div class="card-body">
    <div class="w-100 d-flex flex-stack mb-8">

      <div class="d-flex align-items-center f">

        <div class="symbol symbol-50px me-5">
          <div class="symbol-label fs-1 fw-bold bg-light-success text-success">S</div>
        </div>
        <div class="d-flex flex-column fw-semibold fs-5 text-gray-600 text-gray-900">
          <div class="d-flex align-items-center">
            <a
              href="/metronic8/demo1/pages/user-profile/overview.html"
              class="text-gray-800 fw-bold text-hover-primary fs-5 me-3"
              >Sandra Piquet</a
            >
            <span class="m-0"></span>
          </div>
          <span class="text-muted fw-semibold fs-6">2 Days ago</span>
        </div>
      </div>
      <div class="m-0">
          <i class="fa fa-heart icon-7x"></i>
      </div>
      
    </div>


   
    <p class="fw-normal fs-5 text-gray-700 m-0">
      I run a team of 20 product managers, developers, QA and UX Previously we designed everything
      ourselves.
    </p>

  </div>

</div> -->
<div class="card card-bordered w-100">
  <div class="card-body">
    <div class="w-100 d-flex flex-stack mb-8">
      <div class="d-flex align-items-center">
        <div class="symbol symbol-50px me-5">
          <div class="symbol-label fs-1 fw-bold bg-light-success text-success">S</div>
        </div>
        <div class="d-flex flex-column fw-semibold fs-5 text-gray-600 text-gray-900">
          <div class="d-flex align-items-center">
            <a
              href="/metronic8/demo1/pages/user-profile/overview.html"
              class="text-gray-800 fw-bold text-hover-primary fs-5 me-3"
            >
              Sandra Piquet
            </a>
            <span class="m-0"></span>
          </div>
          <span class="text-muted fw-semibold fs-6">2 Days ago</span>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-active-color-danger btn-lg">
          <i class="fa fa-heart"></i>
        </button>
        <div class="fw-bold fs-8 text-gray-900">233</div>
      </div>
    </div>
    <p class="fw-normal fs-5 text-gray-700 m-0">
      I run a team of 20 product managers, developers, QA and UX. Previously, we designed everything
      ourselves.
    </p>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Add a New Post</h4>
    <button
      type="button"
      class="btn btn-sm btn-icon btn-active-color-primary"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="ki-duotone ki-cross fs-1">
        <span class="path1"></span><span class="path2"></span>
      </i>
    </button>
  </div>
  <div class="modal-body">
    <div class="card card-flush">
      <div class="card-body pt-2 pb-0">
        <div class="d-flex align-items-start">
          <div class="symbol symbol-50px me-3">
            <div class="symbol-label fs-1 fw-bold bg-light-primary text-primary">R</div>
          </div>
          <div class="position-relative w-100">
            <textarea
              class="form-control form-control-solid border ps-5"
              rows="3"
              name="postInput"
              data-kt-autosize="true"
              placeholder="Write your comment.."
              spellcheck="false"
              style="height: auto"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Post</button>
  </div>
</ng-template>
