<div class="container-fluid">
  <div class="row">
      <!-- first card -->
      <div class="card card-body col-md-5 card-flush m-5 ">
          <!--begin::Header-->
          <div class="d-flex flex-stack mb-7">
              <!--begin::Title-->
              <h1 class="fw-bold text-gray-900 mx-5 mt-5">Course Name here</h1>
              <!--end::Title-->
      
              <!--begin::Section-->
              <div class="d-flex align-items-center">
                  <!--begin::Link-->
                  <a href="https://www.youtube.com/c/KeenThemesTuts/videos" target="_blank" class="text-primary fw-bold me-1 mx-5 mt-5">More Details</a>
                  <!--begin::Link-->
      
                  <!--begin::Arrow-->
                  <i class="ki-duotone ki-arrow-right fs-2 text-primary mx-5 mt-5"><span class="path1"></span><span class="path2"></span></i>                        <!--end::Arrow-->
              </div>
              <!--end::Section-->
          </div>
          <!--end::Header-->  
          
          <!--begin::Video-->
          <div class="mx-5 mb-5">
              <iframe class="embed-responsive-item card-rounded h-275px w-100 " src="https://www.youtube.com/embed/TWdDZYNqlg4" allowfullscreen=""></iframe>
          </div>
          <!--end::Video-->                     
      </div>

       <!-- second card -->
       <div class="card card-body col-md-5 card-flush m-5 ">
          <!--begin::Header-->
          <div class="d-flex flex-stack mb-7">
              <!--begin::Title-->
              <h1 class="fw-bold text-gray-900 mx-5 mt-5">Course Name here</h1>
              <!--end::Title-->
      
              <!--begin::Section-->
              <div class="d-flex align-items-center">
                  <!--begin::Link-->
                  <a href="https://www.youtube.com/c/KeenThemesTuts/videos" target="_blank" class="text-primary fw-bold me-1 mx-5 mt-5">More Details</a>
                  <!--begin::Link-->
      
                  <!--begin::Arrow-->
                  <i class="ki-duotone ki-arrow-right fs-2 text-primary mx-5 mt-5"><span class="path1"></span><span class="path2"></span></i>                        <!--end::Arrow-->
              </div>
              <!--end::Section-->
          </div>
          <!--end::Header-->  
          
          <!--begin::Video-->
          <div class="mx-5 mb-5">
              <iframe class="embed-responsive-item card-rounded h-275px w-100 " src="https://www.youtube.com/embed/TWdDZYNqlg4" allowfullscreen=""></iframe>
          </div>
          <!--end::Video-->                     
      </div> 
  </div>
</div>