<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let course of courses | async" class="container">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="card card-body card-flush m-5 d-flex flex-column">
          <div class="d-flex justify-content-center mb-7">
            <h4 class="fw-bold text-gray-900 mx-5 mt-5">{{course.title}}</h4>
          </div>
          <div class="mx-5 mb-5">
            <video *ngIf="course.lessons[0]?.video" class="rounded mx-auto d-block" width="100%">
              <source [src]="videoPath + '/' + course.lessons[0].video" />
            </video>
          </div>
          <div class="mt-auto d-flex justify-content-center">
            <div class="m-3">
              <a [routerLink]="['../list', course.id]" class="btn btn-primary fs-5 btn-sm fw-bold"
                >Learn</a
              >
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
