<div class="container-fluid">
  <div class="row">
      <!-- first card -->
      <div class="card card-body col-md-5 card-flush m-5 ">
          <!--begin::Header-->
          <div class="d-flex flex-stack mb-7">
              <!--begin::Title-->
              <h1 class="fw-bold text-gray-900 mx-5 mt-5">Course Name here</h1>
              <!--end::Title-->
      
              <!--begin::Section-->
              <div class="d-flex align-items-center">
                  <!--begin::Link-->
                  <a routerLink="../view" class="text-primary fw-bold me-1 mx-5 mt-5">More Details</a>
                  <!--begin::Link-->
      
                  <!--begin::Arrow-->
                  <i class="ki-duotone ki-arrow-right fs-2 text-primary mx-5 mt-5"><span class="path1"></span><span class="path2"></span></i>                        <!--end::Arrow-->
              </div>
              <!--end::Section-->
          </div>
          <!--end::Header-->  
          
          <!--begin::Video-->
          <div class="mx-5 mb-5">
              <iframe class="embed-responsive-item card-rounded h-275px w-100 " src="https://www.youtube.com/embed/TWdDZYNqlg4" allowfullscreen=""></iframe>
          </div>
          <!--end::Video--> 
       <!-- start progress chart -->
       <div class="mb-5">
         <div class="d-flex align-items-center flex-column mt-3 w-100">
          <div
            class="d-flex justify-content-between fw-bold fs-6 text-white opacity-50 w-100 mt-auto mb-2"
          >
            <span> Total : 30 lecture</span>
            <span>90%</span>
          </div>
  
          <div class="h-8px mx-3 w-100 bg-light-dark rounded">
            <div
              class="bg-primary rounded h-8px"
              role="progressbar"
              style="width: 90%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
       </div>
      </div>

       <!-- second card -->
       <div class="card card-body col-md-5 card-flush m-5 ">
        <!--begin::Header-->
        <div class="d-flex flex-stack mb-7">
            <!--begin::Title-->
            <h1 class="fw-bold text-gray-900 mx-5 mt-5">Course Name here</h1>
            <!--end::Title-->
    
            <!--begin::Section-->
            <div class="d-flex align-items-center">
                <!--begin::Link-->
                <a routerLink="../view" class="text-primary fw-bold me-1 mx-5 mt-5">More Details</a>
                <!--begin::Link-->
    
                <!--begin::Arrow-->
                <i class="ki-duotone ki-arrow-right fs-2 text-primary mx-5 mt-5"><span class="path1"></span><span class="path2"></span></i>                        <!--end::Arrow-->
            </div>
            <!--end::Section-->
        </div>
        <!--end::Header-->  
        
        <!--begin::Video-->
        <div class="mx-5 mb-5">
            <iframe class="embed-responsive-item card-rounded h-275px w-100 " src="https://www.youtube.com/embed/TWdDZYNqlg4" allowfullscreen=""></iframe>
        </div>
        <!--end::Video--> 
     <!-- start progress chart -->
     <div class="mb-5">
       <div class="d-flex align-items-center flex-column mt-3 w-100">
        <div
          class="d-flex justify-content-between fw-bold fs-6 text-white opacity-50 w-100 mt-auto mb-2"
        >
          <span> Total : 30 lecture</span>
          <span>90%</span>
        </div>

        <div class="h-8px mx-3 w-100 bg-light-dark rounded">
          <div
            class="bg-primary rounded h-8px"
            role="progressbar"
            style="width: 90%"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>